.modal {
    display: none; 
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.7);
    animation: fadeIn 0.5s;
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    width: 26%;
    height: 14%;
    animation: slideIn 0.5s;
    display: flex;
    justify-content: space-between;
    align-items:center
}

.modal-close {
    color: #aaa;
    font-size: 28px;
    font-weight: bold;
    &:hover,
    &:focus {
        color: #521e1e;
        text-decoration: none;
        cursor: pointer;
    }
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes slideIn {
    from { transform: translateY(-30px); opacity: 0; }
    to { transform: translateY(0); opacity: 1; }
}
